@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.header {
  flex: 0 0 auto;
  background-color: #212429;
}

.header h1 {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.main {
  background-color: #fafafa;
  flex: 1 0 auto;
}

.footer {
  background-color: #212429;
  flex: 0 0 auto;
}

.content {
  padding: 50px 0;
}

p {
  margin-bottom: 40px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.footer .content {
  color: #fff;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
}

.go-top {
  position: fixed; /* фиксированное позиционирование */
  left: 20px; /* отступ слева 20px */
  top: 50%; /* выравниваем по центру */
  transform: translateY(-50%); /* выравниваем по центру */
  cursor: pointer; /* при наведении меняем курсор */
  display: none; /* по умолчанию скрываем кнопку */
  font-size: 20px; /* размер стрелки */
  color: rgba(0, 51, 153, 0.5);
  border: 1px solid rgba(0, 51, 153, 0.5);
  background-color: rgba(0, 51, 153, 0.1);
  padding: 15px 10px;
}

/* меняем прозрачность при наведении мышкой */
.go-top:hover {
  color: rgba(0, 51, 153, 0.8);
  border: 1px solid rgba(0, 51, 153, 0.8);
  background-color: rgba(0, 51, 153, 0.15);
}

/* модификатор для отображения кнопки */
.go-top--show {
  display: block;
}
